body {
    background: #2b2b2b none repeat scroll 0 0;
    font-size: 13px;
}
#container {
    margin: 100px auto;
    width: 464px;
}
.main-panel {
    color: #383838;
    text-align: left;
    font-weight: bold;
    background-color:#F5F5F5;
}
h1 {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 10px 20px;
}
label { text-shadow: 0 1px 0 #fff; }
.login-panel {
    border-top:1px solid #fff;
    margin: 0;
    padding: 30px;
}
#error {
    background: #fff none repeat scroll 0 0;
    padding: 5px;
    text-align: left;
}
#error p{
    padding:10px;
}